<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/custom.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hey <%= name %>,</p>  
    <p>Welcome to <%= title %></p>
    <% if(name != 'stranger'){ %>
        <a href="/user/logout">logout</a>
        <a href="/chat">chat</a>
      <% } else { %>
        <a href="/user/login">login</a>
      <% }; %>
      <%- include('templates/footer'); %>
  </body>
</html>
